body{
	height: 100%;
	background: url(images/Bakgrunn.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	repeat: no-repeat;
	overflow: scroll;
}

.logo{
	margin-top: 40px;
	margin-left: 50px;
	border: 1px;
	border-color: yellow;
	border-style: solid;
}

.txtBox {
	height: 350px;
	width: 700px;
    	margin: 200px 750px 0px 200px;
	background-color: rgb(204,204,204);
    	background-color: rgba(204,204,204,0.24);
	    	
	border: 1px solid black;
    	
	border-radius: 20px;
    
}

.txt p {
    margin: 5%;
    font-weight: bold;
    color: white;
	opacity: 1;
	font-size: 16px;
	font-family:  Verdana,Geneva,sans-serif;
	text-align: justify;
}

.txt h1 {
    margin: 5%;
    font-weight: bold;
    color: white;
	opacity: 1;
	font-size: 25px;
	font-family:  Verdana,Geneva,sans-serif;
	text-align: left;
	text-indent: 3em;
}


.dropbtn{
	height: 30px;
	width: 300px;
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 16px;
	border:none;
	}

<<<<<<< HEAD

.dropdown{
	 position: relative;
	 display: inline-block;
=======
.dropbtn: hover, .dropbtn:focus{
	background-color:#2980B9;
}

nav{
	position: relative;
	display: inline-block;
	margin-left: 51px;
	margin-top: 0px;
	border: 1px;
	border-color: red;
	border-style: solid;
>>>>>>> b442349708970722b75677ec4faa04cd3f0ddb8a
}


<<<<<<< HEAD
.dropdown-content{
	 display: none;
	 position: absolute;
	 background-color: grey;
	 min-width: 160px;
	 box-shadow: 0px 9px 14px 0px rgba(0,0,0,0.2);
	 z-index: 1;
	}


.dropdown-content a{
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display:block;}


.dropdown:hover .dropbtn {background-color: black}


=======
.dd-innhold a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.footer{
	position: fixed;
	left: 0;
	bottom 0; 
	width: 100%;
	background-color:grey;
	color: white;
	text-align: center;
}
>>>>>>> b442349708970722b75677ec4faa04cd3f0ddb8a



