body{
	height: 100%;
	background: url(images/Bakgrunn.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	repeat: no-repeat;
	overflow: scroll;
}


.txtBox {
	height: 350px;
	width: 700px;
    	margin: 200px 750px 0px 200px;
	background-color: rgb(204,204,204);
    	background-color: rgba(204,204,204,0.24);
	    	
	border: 1px solid black;
    	
	border-radius: 20px;
    
}

.txt p {
    	margin: 5%;
    	font-weight: bold;
    	color: white;
	opacity: 1;
	font-size: 16px;
	font-family:  Verdana,Geneva,sans-serif;
	text-align: justify;
}
.txt h1 {
    	margin: 5%;
    	font-weight: bold;
    	color: white;
	opacity: 1;
	font-size: 25px;
	font-family:  Verdana,Geneva,sans-serif;
	text-align: left;
	text-indent: 3em;
}


.dropbtn{
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

dropbtn: hover, dropbtn:focus{
	background-color:#2980B9;
}

.nav{
	position: relative;
	display: inline-block;
	
}

.dd-innhold{
	display: none;
    	position: absolute;
    	background-color: #f1f1f1;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 1;
}
.dd-innhold a {
	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
}




